<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <!-- <div>
        {% for x in b %}
        <h2>{{b.city}}</h2> -->
        <!-- <h2>HI-2</h2> -->
        <!-- {% endfor %} -->
        <!-- <h2>HI</h2> -->
    <!-- </div> -->
    {% include 'navbar.html'%}
    {% block content%}
    {% endblock content%}
</body>
</html>